body{
    font-size: 24px;
}

h3{
    width : 100%;
}

.shake {
    display: inline-block;
    color:#DD6666;
    animation: hurueru 1s infinite;
}

@keyframes shake {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(10px, 10px) rotateZ(1deg)}
    50% {transform: translate(0px, 10px) rotateZ(0deg)}
    75% {transform: translate(10px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.game {
    display: flex;
    flex-direction: column;
}

.questioner{
    display: flex;
    width: 500px;
    height: 300px; 
    vertical-align: center;
    font-size: xx-large;
    flex-flow: wrap;
}

.number-selector-row{
    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
}

.number-selector {

    width: 100px;
    height:100px;
    font-size: x-large;
    margin-right: 10px;
    margin-bottom:10px;
    background-color: rgb(184, 245, 245);
}

.selected {
    background: #99F;
}

button {
    cursor: pointer;
}

.save {
    width: 80px;
    height: 34px;
    color: #fff;
    text-align: center;
    background-color: #09a690;
    border-radius: 3px;
    float: left;

    margin-bottom: 30px;
}
.load {
    width: 80px;
    height: 34px;
    color: #fff;
    text-align: center;
    background-color: #335588;
    border-radius: 3px;
    float: left;

    margin-bottom: 30px;
}
.clear {
    width: 80px;
    height: 34px;
    color: #fff;
    text-align: center;
    background-color: #DD6666;
    border-radius: 3px;
    float: left;

    margin-left: 60px;
    margin-bottom: 30px;
}
.button-row {
    width: 400px;
}
.button-row:after {
    clear: left;
    content: "";
    display: block;
}

.next-prediction {
    width: 80px;
    height: 34px;
    color: #fff;
    text-align: center;
    background-color: #9955ff;
    border-radius: 3px;

    margin-bottom: 30px;
    margin-right: 10px;
}
.next-prediction-text {
    font-size: small;
    color: #666677;
}

.history-view{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    font-size: 16px;
}