body{
    font-size: xx-large;
}

h5{
    height: 1em;
    width : 100vw;
    font-size: medium;
    margin: 0px;
    flex-wrap: wrap;
}

.shake {
    display: inline-block;
    color:#DD6666;
    font-size: xx-large;
    animation: shake .1s 2;
}

@keyframes shake {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.game {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.block {
    display: block;
}
.hidden {
    display: none;
}

.questioner{
    display: flex;
    font-size: xx-large;
    flex-flow: wrap;
    height: 35vh;
    overflow-y: auto;
}
.question-content{
    display: flex;
    width: 100vw;
    padding-left: 20px;
}


.question-select {
    display: flex;
    flex-wrap: wrap;
    .question-select-item {
        width: calc(33% - 10px * 2 / 3);
        margin-left: 10px;
        margin-top: 10px;
        &:nth-child(-n+3) {
        margin-top: 0;
        }
        &:nth-child(3n+1) {
        margin-left: 0;
        }
    }
}
.question-select-item{
    aspect-ratio: 4 / 1;
    min-height: 2.5em;
    font-size: medium;
    border-top-right-radius: calc(20px);
    display: inline-flex;
    align-items: center;
    flex-flow: wrap;
    flex-direction: row;
}
.question-select-item-name{
    width: 100%;
}
.question-select-item-remarks{
    padding-left: 10%;
    font-size: 0.8em;
}

.number-selector{
    position: relative;
    display: inline-block;
    height: 60vh;
}

.number-selector-row{
    align-items: flex-start;
    flex-flow: wrap;
}

.number-selector-item {
    width: calc(100% / 5 - 10px);
    height:20vw;
    font-size: 1.2em;
    margin-right: 10px;
    margin-bottom:10px;
    background-color: rgb(184, 245, 245);
}

button {
    cursor: pointer;
}

.button-row {
    width: 100%;
}
.button-row:after {
    clear: left;
    content: "";
    display: block;
}

table.answer-results-view{
    font-size: small;
}
table.answer-results-view thead tr{
    font-size: small;
}
.align-right{
    text-align: right;
}
td.yellow{
    color: #866c03;
}
td.red{
    color: red;
}

.answer-result{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    min-height: 100%;
    max-height: 500%;
    animation: feadInFromBottom 1s;
}
@keyframes feadInFromBottom {
    from {
      top: 100%;
    }
    to {
      top: 0px;
    }
  }
